<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Впомогательные емкости</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="grad">

    <style>
        .grad {
            background-image: url(/Image/fon.jpg);
            /*background-repeat: round;*/
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
        <li>@Html.ActionLink("Информация", "About", "Home")</li>
        <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Все филиалы", "Index", "Home")</li>
                    <li>@Html.ActionLink("Гомель", "Gomel", "Home")</li>
                    <li>@Html.ActionLink("Защебье", "Zaschebe", "Home")</li>
                    <li>@Html.ActionLink("Мозырь", "Mozyr", "Home")</li>
                    <li>@Html.ActionLink("Туров", "Turov", "Home")</li>
                    <li>@Html.ActionLink("Пинск", "Pinsk", "Home")</li>
                    <li>@Html.ActionLink("Кобрин", "Kobrin", "Home")</li>
                    <li>@Html.ActionLink("Новополоцк", "Novopolock", "Home")</li>
                    <li>@Html.ActionLink("Горки", "Gorki", "Home")</li>
                    <li>@Html.ActionLink("Подписанты", "Podpisanty", "Home")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Вспомогательные емкости</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/reservuary.js"></script>
</body>
</html>
